.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 0 20px 0;
}


.title {
    text-align: center;
    color: var(--text-color, #111);
}